<div class="row fixbutton">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-header">
        Create Service
      </div>
      <div class="col-lg-12" style="margin:8px; height: 30px;">
        <button type="button" class="btn btn-primary" style="margin-left: 5px;" (click)="close()"><i
          class="fas fa-home"></i> Close
        </button>
        <button type="button" class="btn btn-primary" style="margin-left: 5px;" (click)="refresh()"><i
          class="fas fa-recycle"></i> Refresh
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top:110px;">
  <div class="col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Popular Service</h4>
        <nav class="sidebar" style="width: 100%;">
          <ul class="nav">
            <li class="nav-item" *ngFor="let srv of listService.slice(0,5)" style="cursor: pointer;"
                (click)="CreateService(srv.Id)">
              <a class="nav-link" style="padding: 0px;">
                <i class="menu-icon fas fa-cog"></i>
                <span class="menu-title">{{srv.ServiceTypeName}}</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-lg-9 grid-margin stretch-card">
    <div class="card" >
      <div class="card-body">
        <h4 class="card-title">List Service</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search service" [(ngModel)]="searchString">
          <div class="input-group-append">
            <button class="btn btn-light" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <hr>
        <div class="table-responsive">
          <table class="table ">
            <thead>
            <tr>
              <th>Service Name</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let srv of listService | filterService : ['ServiceTypeName'] : searchString" style="cursor: pointer;"
                (click)="CreateService(srv.Id)">
              <td width=20% style="white-space: -o-pre-wrap; word-wrap: break-word;white-space: pre-wrap; white-space: -moz-pre-wrap;">{{srv.ServiceTypeName}}</td>
              <td width=80% style="white-space: -o-pre-wrap; word-wrap: break-word;white-space: pre-wrap; white-space: -moz-pre-wrap;">
                <p class="description">{{srv.ServiceDescription}}</p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
